:root {
    --primary-color: #ffd700;
    --secondary-color: #ff5733;
    --accent-color: #ffc107;
    --background-color2: #272824;
    --background-color1: black;
    --background-color3: #191919;
    --border-color: #272824;
    --text-color: #fcfcfc;
    --button-hover-color: #ff4500;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --card-background-color: #2f2f2f;
}

html{
    background-color: var(--background-color2);
}

.header-nav {
    background-color: var(--background-color1);
    border-bottom: var(--border-color);
}

.header a{
    color: var(--text-color);
}

.header a:nth-child(3) {
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.header a:nth-child(1), .header a:nth-child(2), .header a:nth-child(4) {
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.header a:hover{
    border-bottom: 2px solid white;
}

.flcc {
    color: var(--primary-color);
    font-size: 2.5em;
    background: linear-gradient(90deg, #ffd700, #ffc300, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 150%;
    background-position: left bottom;
    transition: all 5s ease-in-out;
}

.flcc:hover {
    background: linear-gradient(90deg, #ffd700, #ffd700, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right top;
    background-size: 200% 200%;
}

.teks{
    color: var(--text-color);
}

.open{
    background-color: var(--primary-color);
}

.close{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.more{
    background-color: #ffed84;
    color: var(--secondary-color);
}

.ministry {
    background-color: var(--background-color2);
}

.ministry h1{
    color: var(--text-color);
}

.ministry h2{
    color: var(--accent-color);
}

/* .login {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
}

.login:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.login:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.login:hover {
    color: #ffffff;
    border: 1px solid var(--primary-color);
}

.login:hover:before {
    top: -35%;
    background-color: var(--primary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login:hover:after {
    top: -45%;
    background-color: var(--primary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
} */

a.login, a.regis {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 0.875rem;
}

.login {
    display: inline-block;
    padding: 8px 0;
    width: 100px;
    border: 1px solid var(--background-color2);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: var(--primary-color);
    z-index: 1;
    background-color: transparent;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: left 0.3s ease-in-out;
}

.login:hover {
    color: var(--background-color1);
}

.login:hover::before {
    left: 0;
}

.login:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.regis {
    color: var(--text-color);
    padding: 8px 0;
    width: 100px;
    transition: all 0.3s ease-in-out;
    font-size: 19px;
    border: 1px solid var(--background-color2);
    border-radius: 4px;
}

.regis:hover {
    border-color: var(--text-color);
}

.regis:active {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.user {
    color: var(--text-color);
    cursor: text;
}

.logout {
    color: var(--primary-color);
}

.logout:hover {
    color: var(--secondary-color);
}

.logout:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em rgba(0, 0, 0, 0);
}

.join{
    background-color: var(--accent-color);
}

.add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--accent-color);
}

.sign {
    width: 100%;
    font-size: 2em;
    color: var(--background-color2);
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    right: -5%;
    width: 0%;
    opacity: 0;
    color: var(--background-color2);
    font-size: 1.2em;
    font-weight: 500;
    transition-duration: 0.3s;
}

.Btn:hover {
    width: 125px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 20px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

/* .container{
    background-color: var(--background-color2);
} */

h1{
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0;
}

.mb-3{
    color: var(--text-color);

    label{
        margin-bottom: 10px;
        margin-left: 10px;
    }

    p{
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

label{
    display: flex;
    flex-direction: row;
}

.large-input {
    margin: 0 10%;
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    color: var(--background-color2);
}

.large-textarea {
    margin: 0 10%;
    width: 80%;
    height: 150px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    color: var(--background-color2);
}

.foto{
    margin: 0 10%;
    width: 80%;
}

.btn-update {
    margin: 0 45% 1em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 10%;
    cursor: pointer;
    text-align: center;
}

.btn-update:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.footer {
    background-color: var(--background-color1);
    border-top: var(--border-color);
}

.footer h4{
    color: var(--text-color);
}

