.pagination {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    border-radius: 50%;
    padding: 10px;
}